html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(4, 0, 216);
    
}

body {
    background-color: bisque;
    padding: 30px;
}

h1 {
    color: rgb(4, 0, 216)
}

a {
    color: rgb(4, 0, 216);
    font-size: 1.2rem;
    
}

ul {
    list-style: none; /* Removes bullet points */
}


ul li {
    margin-bottom: 1.5rem;
}

p {
  margin-top: .5rem; 
}

/* nav {
    float: right;
} */

.directory-nav {
    padding-left: .5rem;
}

.home-page-copy {
    /* font-size: 3em; */
    /* height: 5vh;  */
    font-size: clamp(2rem, 12vw, 3rem);
}

header {
    /* position: sticky; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.hamburger {
    display: none;
}



footer {
    background-color: rgb(4, 0, 216);
    padding: 10px;
    color: bisque;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    padding-right: 20px;
}

.link {
    font-size: 1.3rem;
}


.ascii {
    font-size: 2px;;
  }

.grid-2x2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:  1fr;
}



@media (max-width: 768px) {
    .grid-2x2 {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
    }

    /* html {
        padding: 5px;
    } */

    header {
        align-items: stretch;
    }

    body {
        padding: 5px;
    }

    ul {
        padding: 0; 
        margin: 0; 
    }

    .empty {
        display: none;
    }

    .hamburger {
        display: block;
        float: right;
    }

    .hamburger .line {
        display: block;
        width: 40px;
        height: 2px;
        margin-bottom: 7px;
        background-color: rgb(4, 0, 216);
      }

      nav {
        display: none;
      }

}



