html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(4, 0, 216)
}

body {
    background-color: bisque;
}

h1 {
    color: rgb(4, 0, 216)
}

a {
    color: rgb(4, 0, 216)
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 1.5rem;
}

p {
  margin-top: .5rem; 
}


nav {
    float: right;
}

header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-link {
    font-size: 1.2rem;
}

.mac-icon {
    height: 50px;
}


.grid-2x2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:  1fr;
}

@media (max-width: 768px) {
    .grid-2x2 {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr;
    }
}



