---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3H7W5XG8Q"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-E3H7W5XG8Q');
        </script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coding For Artists and Designers</title>
	</head>
	<body>
		<Header />
		<h2>Coding for Artists and Designers</h2>
        <ul>
            <li>
                <a class="link" href="https://developer.mozilla.org/en-US/">MDN Docs</a>
                <p>The definitive documentation for how to build websites. An open-source guide supported by Mozilla since the 2005.</p>
            </li>
            <li>
                <a class="link" href="https://parametric-design.fh-potsdam.de/en/">Parametric Design</a>
                <p>A comprehensive but gentle introduction to code-driven design taught by German design professor Sebastian Meier using JavaScript in the browser.</p>
            </li>
            <li>
                <a class="link" href="https://thecodingtrain.com/">The Coding Train</a>
                <p>The website that introduced creative coding to thousands of artists and designers. Taught by NYU professor Dan Shiffman, possibly the most passionate teacher on the planet.</p>
            </li>
            <li>
                <a class="link" href="https://p5js.org/">p5.js</a>
                <p>Both a JavaScript library for creative coding and a simple code editor running in the web browser. Initiated by artist, computer scientist and UCLA professor Lauren Lee McCarthy and maintined by a global community of volunteers.</p>
            </li>
            <li>
                <a class="link" href="https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5">Getting Started With WebGL In p5.js</a>
                <p>A step-by-step guide to using WebGL in p5.js to render 3D graphics in the web browser. Requires basic knowledge of p5.js.</p>
            </li>
            <li>
                <a class="link" href="https://openjscad.xyz/">JSCAD</a>
                <p>A JavaScript tool kit for creating parametric 2D and 3D designs that can be fabricated or printed. For more advanced programmers.</p>
            </li>
        </ul>
	</body>
</html>
