---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Computer and Design History</title>
	</head>
	<body>
		<Header />
		<h2>Computer and Design History</h2>
        <ul>
            <li>
                <a class="link" href="https://crm.org/articles/xerox-parc-and-the-origins-of-gui">Xerox PARC and the Origins of GUI</a>
                <p>A brief history of the fabled Silicon Valley research lab that invented the mouse, laser printer and graphical user interface.</p>
            </li>
			 <li>
                <a class="link" href="https://designreviewed.com/">Design Reviewed</a>
                <p>A pictorial history of printed graphic design articfacts, including book covers, magazines and brochures.</p>
            </li>
			<li>
                <a class="link" href="https://fontsinuse.com/uses/7902/byte-magazine-covers-1976-84">Byte Magazine covers, 1976-84</a>
                <p>A series of imaginative cover designs for <i>Byte</i> Magazine by artist Rober Tinney. <i>Byte</i> was a microcomputer magazine influential in the 1970s and 80s.</p>
            </li>
			<li>
                <a class="link" href="https://en.wikipedia.org/wiki/Eternal_September">Eternal September Wikipedia</a>
                <p>The history of our website's namesake. When college kids would flood the nascent internet in the early 1990s.</p>
            </li>
			<li>
                <a class="link" href="https://medium.com/processing-foundation/a-modern-prometheus-59aed94abe85">A Modern Prometheus</a>
                <p>The history of Processing, the first computer language created specifically for artists and designers. Written by Processing's founders Casey Reas and Ben Fry.</p>
            </li>
        </ul>
	</body>
</html>
