---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3H7W5XG8Q"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-E3H7W5XG8Q');
        </script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Computational Art</title>
	</head>
	<body>
		<Header />
		<h2>Computational Art</h2>
        <ul>
            <li>
                <a class="link" href="https://feralfile.com">Feral File</a>
                <p>An online gallery minting digital, software, code and generative based art. Founded by artist and UCLA professor Casey Reas.</p>
            </li>
			<li>
                <a class="link" href="https://www.vellumla.com">Vellum LA</a>
                <p>A Los Angeles based gallery exhibiting new media and digital art.</p>
            </li>
			<li>
                <a class="link" href="https://bitforms.art">Bitforms Gallery</a>
                <p>The OG New York City gallery exhibiting technology based art.</p>
            </li>
			<li>
                <a class="link" href="https://www.rightclicksave.com/article/the-power-of-processing-casey-reas-and-lauren-lee-mccarthy-interview-generative-art">The Power Of Processing</a>
                <p>A great interview about the future of computational art with Casey Reas and Lauren Lee McCarthy.</p>
            </li>
        </ul>
        <script>
			import "../scripts/colophon.js";
		</script>
	</body>
</html>
