---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3H7W5XG8Q"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-E3H7W5XG8Q');
        </script>
		<meta charset="utf-8" />
        <meta property="og:title" content="Eternal September"/>
		<meta property="og:description" content="Hand curated directory for artists and designers interested in technology."/>
		<meta property="og:url" content="hhttps://eternal-september.netlify.app/"/>
		<meta property="og:type" content='website'/>
		<meta property="og:image" content="/social_icon.png"/>
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="627" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Design Studios</title>
	</head>
	<body>
		<Header />
		<h2>Design Studios</h2>
        <ul>
            <!-- <div class="category-links">
                <a class="category-link" href="https://www.linkedbyair.net/">Linked By Air</a>
                <p>One of the best engineering and design shops around!</p>
                <br>
            </div>
            
            <div class="category-links">
                <a class="category-link" href="https://newinfo.studio/">New Information</a>
                <p>Clean design from NYC.</p>
            </div> -->
            <li>
                <a class="link" href="https://www.linkedbyair.net/">Linked By Air</a>
                <p>The north star for clean, well engineered website design. Impeccible work for brands and institutions. Based in NYC.</p>
            </li>
            <li>
                <a class="link" href="https://newinfo.studio/">New Information</a>
                <p>Another example of clean, no frills design from NYC. Former publisher of the urban surf magazine <em style="font-style: italic;">WAX</em>. </p>
            </li>
            <li>
                <a class="link" href="https://jakedowsmith.com/">Jack Dow-Smith Studio</a>
                <p>An evengalist for website design that slows the user down a bit and respcts their intellegence. Based in the UK.</p>
            </li>
            <li>
                <a class="link" href="https://dia.tv/">DIA Studio</a>
                <p>The undisputed leaders in motion design and computational typography.</p>
            </li>
            <li>
                <a class="link" href="https://funkhaus.us/">Funkhaus</a>
                <p>West Coast vibe masters making highly interactice websites. Based in Los Angeles. </p>
            </li>
            <li>
                <a class="link" href="https://www.sosolimited.com/">SOSO</a>
                <p>A bicoastal shop excelling in the physical intervention of spaces with data visualiztion sculptures.</p>
            </li>
            <li>
                <a class="link" href="https://grafik.co.nz/">Grafik</a>
                <p>A New Zealand based web design practive led by Nick de Jerdine. Slick and performant websites for businesses in the creative sector.</p>
            </li>
        </ul>
        <script>
			import "../scripts/colophon.js";
		</script>
	</body>
</html>
