---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Design Studios</title>
	</head>
	<body>
		<Header />
		<h2>Design Studios</h2>
        <ul>
            <!-- <div class="category-links">
                <a class="category-link" href="https://www.linkedbyair.net/">Linked By Air</a>
                <p>One of the best engineering and design shops around!</p>
                <br>
            </div>
            
            <div class="category-links">
                <a class="category-link" href="https://newinfo.studio/">New Information</a>
                <p>Clean design from NYC.</p>
            </div> -->
            <li>
                <a class="link" href="https://www.linkedbyair.net/">Linked By Air</a>
                <p>The north star for clean, well engineered website design. Impeccible work for brands and institutions. Based in NYC.</p>
            </li>
            <li>
                <a class="link" href="https://newinfo.studio/">New Information</a>
                <p>Another example of clean, no frills design from NYC. Former publisher of the urban surf magazine <em style="font-style: italic;">WAX</em>. </p>
            </li>
            <li>
                <a class="link" href="https://jakedowsmith.com/">Jack Dow-Smith Studio</a>
                <p>An evengalist for website design that slows the user down a bit and respcts their intellegence. Based in the UK.</p>
            </li>
            <li>
                <a class="link" href="https://dia.tv/">DIA Studio</a>
                <p>The undisputed leaders in motion design and computational typography.</p>
            </li>
            <li>
                <a class="link" href="https://funkhaus.us/">Funkhaus</a>
                <p>West Coast vibe masters making highly interactice websites. Based in Los Angeles. </p>
            </li>
        </ul>
	</body>
</html>
