---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3H7W5XG8Q"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-E3H7W5XG8Q');
        </script>
		<meta charset="utf-8" />
        <meta property="og:title" content="Eternal September"/>
		<meta property="og:description" content="Hand curated directory for artists and designers interested in technology."/>
		<meta property="og:url" content="hhttps://eternal-september.netlify.app/"/>
		<meta property="og:type" content='website'/>
		<meta property="og:image" content="/social_icon.png"/>
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="627" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Design Philosophy</title>
	</head>
	<body>
		<Header />
		<h2>Design Philosophy</h2>
        <ul>
            <div class="link-body">
                <a class="link" href="http://www--arc.com/">Web Design As Architecture</a>
                <p>A 10-point treatise on the architecture of website design by designer Malte Müller.</p>
            </li>
        </div>
        </ul>
	</body>
    <script>
        import "../scripts/colophon.js";
    </script>
</html>
