---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<h2>Design Studios</h2>
        <ul>
            <!-- <div class="category-links">
                <a class="category-link" href="https://www.linkedbyair.net/">Linked By Air</a>
                <p>One of the best engineering and design shops around!</p>
                <br>
            </div>
            
            <div class="category-links">
                <a class="category-link" href="https://newinfo.studio/">New Information</a>
                <p>Clean design from NYC.</p>
            </div> -->
            <li>
                <a class="link" href="https://www.linkedbyair.net/">Linked By Air</a>
                <p>One of the best engineering and design shops around!</p>
            </li>
            <li>
                <a class="link" href="https://newinfo.studio/">New Information</a>
                <p>Clean design from NYC.</p>
            </li>
        </ul>
	</body>
</html>
