---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <Header />
		<h2>Directory</h2>
        <ul>
            <div class="links">
				<li>
					<a class="link" href="/design-studios">Design Studios</a>
				</li>
				<li>
					<a class="link" href="/coolest-websites">Coolest Websites</a>
				</li>
				<li>
					<a class="link" href="/computer-history">Computer History</a>
				</li>
				<li>
					<a class="link" href="/coding-for-artists-and-designers">Coding for Artists and Designers</a>
				</li>
				<li>
					<a class="link" href="/typography">Typography</a>
				</li>
            </div>
        </ul>
		<script>
			import "../scripts/nav.js";
		</script>
	</body>
</html>
