---
import '../styles/global.css';
import Footer from "../components/Footer.astro"
import Header from '../components/Header.astro';
---

<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-E3H7W5XG8Q"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-E3H7W5XG8Q');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="Eternal September"/>
		<meta property="og:description" content="Hand curated directory for artists and designers interested in technology."/>
		<meta property="og:url" content="hhttps://eternal-september.netlify.app/"/>
		<meta property="og:type" content='website'/>
		<meta property="og:image" content="/social_icon.png"/>
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="627" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Eternal September</title>
	</head>
	<body>
		<Header />
	
		<div class="grid-2x2">
			<div>
				<p class="home-page-copy">
					Eternal September is a directory of hand picked resources for <em></em>artists and designers interested in technology.
					<br><br/>
					Curated and designed by <a class="in-body-link" href="https://www.seanmartinstudio.com/">Sean Martin</a> with love and care so you can spend less time on social media.
				</p>
			</div>

			<div class="empty">
				
			</div>
		</div>
		<!-- <Footer /> -->
		<script>
			import "../scripts/colophon.js";
		</script>
	</body>
</html>

<!-- Previous Copy: -->
<!-- Eternal September is a directory of hand picked resources and articles from the internet covering art, design and technology. -->
