---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<!-- <h1>Home</h1> -->

		<div class="grid-2x2">
			<div class="scrollable-div">
				<p class="home-page-copy">
					Eternal September is a curated directory created by Sean Martin. All links listed are highly curated resoucers for artists and designers working with technology.
				</p>
			</div>

			<div class="scrollable-div">
				<ul>
					<li><a class="category-link" href="/design-studios">Design Studios</a></li>
					<li><a class="category-link" href="/design-studios">Wedsite Design!</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
