---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>News and Editorial</title>
	</head>
	<body>
		<Header />
		<h2>News and Editorial</h2>
        <ul>
            <li>
                <a class="link" href="https://crm.org/articles/xerox-parc-and-the-origins-of-gui">Xerox PARC and the Origins of GUI</a>
                <p>A brief history of the fabled Silicon Valley research lab that invented the mouse, laser printer and graphical user interface.</p>
            </li>
        </ul>
	</body>
</html>
