---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>News and Editorial</title>
	</head>
	<body>
		<Header />
		<h2>News and Editorial</h2>
        <ul>
			<li>
                <a class="link" href="https://www.theverge.com/">The Verge</a>
                <p>"The last website", as editor-in-chief Nily Patel calls it. The preeminent source for tech reviews, scoops and internet public policy.</p>
            </li>
            <li>
                <a class="link" href="https://www.404media.co/">404 Media</a>
                <p>A journalist-founded digital media company reporting on AI, corprote and government surveillance, cybercrime and the internet-at-large.</p>
            </li>
			<li>
                <a class="link" href="https://solar.lowtechmagazine.com/">Low Tech Magazine</a>
                <p>A dense but intriguing solar-powered website with articles and self-published books about low tech inventions.</p>
            </li>
			<li>
                <a class="link" href="https://www.nytimes.com/column/hard-fork">Hard Fork</a>
                <p>A lively and unpretentious New York Times podcast hosted by technology journalists Casey Newton and Kevin Roose.</p>
            </li>
        </ul>
	</body>
</html>
