---
import '../styles/global.css';
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coolest Websites</title>
	</head>
	<body>
		<Header />
		<h2>Coolest Websites</h2>
        <ul>
            <div class="link-body">
            <li>
                <a class="link" href="https://lfe.org/">Loz Feliz Engineering</a>
                <p>Clever single page website for one of the most enigmatic software companies around. No scrolling required. </p>
            </li>
            <li>
                <a class="link" href="https://dayjob.work/">Day Job</a>
                <p>This NYC agnecy's website has a throw back 1990s motify with Microsoft Windows clip art icons and an emulater that lets you play Doom!</p>
            </li>
            <li>
                <a class="link" href="https://www.siteofsites.co/">Site of Sites</a>
                <p>A curation of artfully designed and interactive websites, broken up by searchable categories.</p>
            </li>
            <li>
                <a class="link" href="https://www.siteofsites.co/">Brutalist Websites</a>
                <p>A slightly older but timley compedium of boldly designed websites that don't rely on complex interactions or animations. Back to basics!</p>
            </li>
            <li>
                <a class="link" href="https://timrodenbroeker.github.io/web-art-directory/">Web Art Directory</a>
                <p>A curations of websites that have absolutley not use except to be art projects. Curated by German designer Tim Rodenbröker.</p>
            </li>
            <li>
                <a class="link" href="https://www.are.na/elliott-cost/text-only-websites">Text Only Websites</a>
                <p>Compendium of websites with just text. Simple and powerful.</p>
            </li>
        </div>
        </ul>
	</body>
</html>
