---

---

<header>
    <img src="/src/assets/mac-icon.png" class="mac-icon">
    <nav>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/directory">Directory</a>
            <a href="/about">About</a>
        </div>
    </nav>
</header>