---

---

<header>
    <div class="ascii">    
        <pre>
    ######   ######   ######  ######   ##   ##    ###     ##                ####     ######  ######    ######   ######  ##   ##  ######    ######  ######   
    ##       # ## #   ##      ##   ##  ###  ##   ## ##    ##               ##  ##    ##      ##   ##   # ## #   ##      ### ###  ##   ##   ##      ##   ##  
    ##         ##     ##      ##   ##  #### ##  ##   ##   ##               ##        ##      ##   ##     ##     ##      #######  ##   ##   ##      ##   ##  
    #####      ##     #####   ##  ###  #######  ##   ##   ##                #####    #####   ##   ##     ##     #####   #######  ######    #####   ##  ###  
    ##         ##     ##      #####    ## ####  #######   ##                    ##   ##      ######      ##     ##      ## # ##  ##   ##   ##      #####    
    ##         ##     ##      ## ###   ##  ###  ##   ##   ##   #           ##   ##   ##      ##          ##     ##      ##   ##  ##   ##   ##      ## ###   
    ######     ##     ######  ##  ###  ##   ##  ##   ##   ######            #####    ######  ##          ##     ######  ##   ##  ######    ######  ##  ###  
                                                                                                                                                            
            
        </pre>                                                                                                                                                                                                                                                                                                                                                                                                             
    </div>

    <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>

    <nav class="nav-links">
        <a class="home-nav" href="/">Home</a>
        <a class="directory-nav" href="/directory">Directory</a>
    </nav>
</header>